@font-face {
  font-family: "milk_kids";
  src: url(./assets/fonts/milk_kids/Milk\ Kids.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "milk_kids";
}
.navbar {
  background-color: #03d663;
}

.navbar-brand .navbar-logo {
  width: 80px;
  height: 80px;
}
.navbar-brand .navbar-logo img {
  width: 100%;
  border-radius: 100px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 30px;
  text-transform: capitalize;
  color: black;
  margin: 0 10px;
  border-bottom: 2px solid #03d663;
}

.navbar-nav .nav-item .nav-link:focus {
  color: white;
  border-bottom: 2px solid white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
}
/* hero section */
.hero-section {
  background-color: #0e0e0e;
  padding-bottom: 50px;
}
.hero-section .hero-content h2 {
  font-size: 80px;
}

.hero-img {
  background-color: #03d663;
}
.hero-section .hero-content button {
  padding: 10px 60px;
  background-color: #198754;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  border-radius: 30px;
}
.hero-section .hero-content button:hover {
  background-color: white;
  color: #d89286;
}
.hero-section .hero-content i {
  font-size: 30px;
  padding-left: 30px;
}
.hero-section .hero-content i:hover {
  color: #83340f;
  cursor: pointer;
}
.hero-section .hero-content .hero-icon {
  animation: upDown 2s infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
/* media query */
@media screen and (max-width:570px) {
  .hero-section .hero-content h2 {
    font-size: 50px;
  }
  .bts-icons{
   padding-bottom: 40px;
  }
}
/* about section */
.about-section {
  padding-bottom: 40px;
  padding-top: 80px;
  background-color: #161616;
  color: white;
}
.about-section .about-content h2 {
  font-size: 60px;

  color: #03d663;
}
.about-section .about-content button{
  padding: 8px 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 0 10px 1x rgba(194, 183, 183, 0.514),
;
}
.about-section .about-content button a{
font-size: 26px;
}
.about-section .about-content button a:hover{
 color: white;
  }
.about-section .about-content p {
  word-spacing: 2px;
  text-overflow: hidden;
  font-size: 24px;
  
}
/* media query */
@media screen and (max-width:570px) {
  .about-section .about-content h2 {
    font-size: 40px;
  }
  
}
/* tokenomics */
.tokenomics-section {
  padding-bottom: 40px;
  padding-top: 80px;
  background-color: #0e0e0e;
  color: white;
}
.tokenomics-section h2 {
  text-align: center;
  font-size: 70px;
  text-transform: capitalize;
  color: #03d663;
}
.input-One {
  border: 4px solid white;
  background-color: #161616;
}
.input-One h3 {
  font-size: 40px;
  padding-left: 20px;
  color: #03d663;
}
.input-One p {
  font-size: 20px;
  letter-spacing: 2px;
}
.input2 {
  border: 4px solid white;
  padding: 10px;
  background-color: #161616;
}
.input2 h3 {
  margin: 0;
  font-weight: 800;
  color: #03d663;
}
.input2 h4 {
  margin: 0;
}
/* roadmap section */

.roadmap-section {
  padding-bottom: 40px;
  padding-top: 80px;
  background-color: #161616;
  color: white;
}
.roadmap-section h2 {
  text-align: center;
  font-size: 80px;
  text-transform: capitalize;
  color: #03d663;
}
.roadmap-section .card1{
  border: 4px solid white;
  padding: 20px;
  margin-top: 10px;
}
.roadmap-section .card1 h3{
 text-transform: uppercase;
 font-size: 60px;
 color: #16c60c;
}
.roadmap-section .card1 ul{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.roadmap-section .card1 ul li{
  list-style-type: none;
  font-size: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.roadmap-section .card1 ul li:hover{
  scale: 1.1;
  transition: all ease 0.5s;
  color: #16c60c;
}
/* footer section */
.footer-section{
  padding-bottom: 40px;
  padding-top: 80px;
  background-color: #0e0e0e;
  color: white;
}
.footer-section h2{
  font-size: 40px;
  color: #03d663;
}
.footer-section p{
  font-size: 22px;
  padding-top: 30px;
}
.footer-icon img {
  margin: 0 10px;
}
.footer-icon i{
  font-size: 30px;
  margin: 0 10px;

}
.footer-icon  i:hover {
  color: #83340f;
  cursor: pointer;
}
.footer-icon {
  animation: upDown 2s infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.foter-content{
  background-color: #161616;
  color:#03d663;
  margin-top: 2px;
  padding-bottom: 20px;
  padding-top: 10px;
}






